/* Body color */
body{
    background-color: #aaff00;
}

/* Home page */

/* Title */

#home-title{
    font-family: Poppins;
    text-align: center;
    font-size: 50px;
}

/* List */

#list1{
    color: white;
    font-family: Rubik;
    font-weight: 700;
    font-size: 20px;
    display: table;
    margin: 0 auto;
    line-height: 50px;
}

#listchild1 a{
    color: rgb(153, 164, 173);
}

/* Mutton Briyani page, Chapati Bread Recipe page, Dahl with Spinach Recipe page */

/* Title */
#page1title,
#page2title,
#page3title{
    font-family: Poppins;
    text-align: center;
    font-size: 50px;
}

/* Image */
#img1,
#img2,
#img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

/* Description */
#des{
    font-family: Rubik;
    font-size: 20px;
}

#des2,
div{
    font-family: Montserrat;
}

div{
    
}