/* Body color */
body{
    background-color: hsl(0, 0%, 25%);
}

/* Home page */

/* Title */

#home-title{
    color: #EB3510;
    font-family: Bitter;
    text-align: center;
    font-size: 50px;
}

/* List */

.menu1{
    color: #FAFAFA;
    font-family: Playfair-Display;
    font-size: 20px;
    text-align: center;
    margin-top: 200px;
 }

.item1,
.item2,
.item3{
    background-color: hsl(0, 0%, 20%);
    
    display: table;
    padding: 20px;
}

.item1{
    margin: 0 auto;
    margin-top: 40px;
}

.item2{
    margin: 0 auto;
    margin-top: 80px;
}

.item3{
    margin: 0 auto;
    margin-top: 80px;   
}


/* Mutton Briyani page, Chapati Bread Recipe page, Dahl with Spinach Recipe page */

/* Title */
#page1title,
#page2title,
#page3title{
    color: #FAFAFA;
    font-family: Poppins;
    text-align: center;
    font-size: 50px;
}

/* Image */
#img1,
#img2,
#img3{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}

/* Description */
#des{
    color: #EB3510;
    font-family: Rubik;
    font-size: 20px;
}

#des2,
div{
    color: #FAFAFA;
    font-family: Montserrat;
}

div{
    
}